.box_ekanban{
margin: 10px 20px;
text-align: left;
}

.title-section {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    font-size: 18px;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: bold;
    border-radius: 5 px;
}